@{
    ViewData["Title"] = "Área Administrativa";
}

<div class="text-center">
    <h1 class="display-4">Relatórios</h1>
    <div>
        <a asp-action="Index">Back to List</a>
        <a asp-action="Index">Back to List</a>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
